body {
  font-family: Arial, sans-serif;
  background-color: pink;
  margin: 20px;
  padding: 0;
}

h1 {
  color: darkblue;
}

h2 {
  color: darkred;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
